@import "./base.css";

* {
  box-sizing: border-box;
  /* font-family: Nachlieli CLM, sans-serif; */
  font-family: Poppins;
  /* font-family: Poppins; */
}

body {
  background-color: #151515;
  color: #ffffff;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.spinner-dates {
  display: flex;
  text-align: center;
  justify-content: center;
}
