@import "./base.css";

* {
  box-sizing: border-box;
  /* font-family: Nachlieli CLM, sans-serif; */
  font-family: Poppins;
  /* font-family: Poppins; */
}

body {
  background-color: #151515;
  color: #ffffff;
}
